
body {
	    margin: 0;
	    background: #ffffff;
	    font-family: 'Source Sans Pro', sans-serif;
	}
	

	h1,
	h2,
	h3,
	h4,
	h5 {
	    margin: 0;
	    font-family: 'Source Sans Pro', sans-serif;
	}
	

	p {
	    margin: 0;
	    line-height: 1.8;
	    font-size: 1em;
	    color: #000000;
	}
	

	.banner {
	    background: url(images/background.png)no-repeat center 0px fixed;
	    background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	    -moz-background-size: cover;
	    -ms-background-size: cover;
	

	}
	

	.banner-text {
	    padding: 16em 0;
